@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,700;1,400&family=Trykker&display=swap');
@font-face {
    font-family: MyDigitalFont;
    src: url(../font/digital-7.ttf);
}

* {
    max-width: 1600px;
    margin: auto;
    color: var(--text-color);
}

/* Overskrifter og tekst */
h1, h2, h3, button {
    font-family: Fira Sans Extra Condensed, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: calc(var(--theme-spacing) / 2) 0 calc(var(--theme-spacing) / 2) 0;
}

h2 {
    font-size: 2rem;
    margin: calc(var(--theme-spacing) / 3) 0 calc(var(--theme-spacing) / 3) 0;
    text-align: center
}

h3 {
    font-size: 1.5rem;
    margin: calc(var(--theme-spacing) / 4) 0 calc(var(--theme-spacing) / 4) 0;
}

p, a {
    font-family: Trykker, serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: calc(var(--theme-spacing) / 4);
}

a {
    font-family: Fira Sans Extra Condensed, sans-serif;
}

